table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 10em;
    margin-top: 60px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
     background-color: #82a8ea;
    
  }
  
  input[type="text"],
  input[type="number"] {
    width: 80%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #0e0b0b;
  }
  .add-button {
    position: fixed;
    top: 18px;
    right: 140px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #5387e0;
    color: #fff;
    cursor: pointer;
  }